/*placeholder input*/
.placeholder-search {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  opacity: 1;
}
/*Плашка new*/
.new {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  background: url('../img/new-icon.png') no-repeat;
}
/*Размеры блоков вычисляються исходя из отступов и бордеров, как в bootstrap*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
}
p,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:click,
a:focus,
a:hover {
  color: #cccccc;
  text-decoration: none;
}
input {
  padding: 0;
  margin: 0;
}
/*Плавное изменение прозрачности*/
.main-brand:active,
.nav-bar li:hover,
.nav-bar li:active,
.btn-checkout:active,
.btn-basket:active,
.btn-bookmark:active,
.head-logo:hover,
.head-logo:active,
.btn-login:hover:before,
.btn-login:hover,
.btn-login:active:before,
.btn-bookmark:hover:before,
.btn-basket:hover:before,
.search label:before,
.search input:hover ~ label:before,
.search input:focus ~ label:before {
  -webkit-transition: opacity ease-out 0.3s;
  -moz-transition: opacity ease-out 0.3s;
  -o-transition: opacity ease-out 0.3s;
  transition: opacity ease-out 0.3s;
}
/*Плавное изменение цвета*/
.btn-product-buy:hover,
.btn-product-buy:active,
.btn-red:hover,
.btn-popular:hover,
.btn-about:hover,
.btn-red:active,
.btn-popular:active,
.btn-about:active,
.btn-item:hover,
.btn-item:active,
.nav-bar li:hover,
.nav-bar li:active,
.btn-checkout:active,
.btn-checkout:hover,
.btn-basket:active,
.btn-bookmark:active,
.search input,
.search input:focus,
.btn-login:active,
.btn-login:hover,
.btn-registration:active,
.btn-registration:hover {
  -webkit-transition: background ease-out 0.3s, color ease-out 0.3s;
  -moz-transition: background ease-out 0.3s, color ease-out 0.3s;
  -o-transition: background ease-out 0.3s, color ease-out 0.3s;
  transition: background ease-out 0.3s, color ease-out 0.3s;
}
.main-popular-product:hover,
.main-brand:hover {
  -webkit-transition: box-shadow ease-out 0.3s;
  -moz-transition: box-shadow ease-out 0.3s;
  -o-transition: box-shadow ease-out 0.3s;
  transition: box-shadow ease-out 0.3s;
}
.btn-product-bookmark:hover,
.btn-product-bookmark:active {
  -webkit-transition: border-color ease-out 0.3s;
  -moz-transition: border-color ease-out 0.3s;
  -o-transition: border-color ease-out 0.3s;
  transition: border-color ease-out 0.3s;
}
.btn-product-bookmark:active {
  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s;
}
.search input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  opacity: 1;
}
.search input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  opacity: 1;
}
.search input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
  font-size: 17px;
  font-family: 'Cuprum', sans-serif;
  opacity: 1;
}
.search input:focus::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000000;
}
.search input:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000000;
}
.search input:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
}
header {
  background-color: #f2f6f8;
  padding-bottom: 60px;
}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.head-bar {
  background-color: #293449;
  font-size: 17px;
  margin-bottom: 45px;
  height: 42px;
}
.head-logo {
  float: left;
  height: 47px;
}
.head-logo:hover {
  background-color: #000000;
  opacity: 0.8;
}
.head-logo:active {
  opacity: 0.7;
}
.search {
  float: left;
  position: relative;
  height: 43px;
}
.search input {
  height: 100%;
  width: 220px;
  padding: 0 0 0 50px;
  background: none;
  border: none;
  position: relative;
  color: #000;
}
.search label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  opacity: 0.2;
  margin: -8px 0 0;
  color: #ffffff;
  width: 17px;
  height: 17px;
  background: url('../img/icon-images.png') no-repeat 0 0;
}
.search input:hover ~ label:before {
  opacity: 1;
}
.search input:focus {
  background: white;
  outline: none;
  color: black;
}
.search input:focus ~ label:before {
  background: url('../img/icon-images.png') no-repeat -17px 0;
}
.head-bar a {
  color: #ffffff;
}
.head-btn {
  width: 150px;
  line-height: 18px;
  padding: 12px 0 12px 40px;
  display: inline-block;
  position: relative;
  font-weight: bold;
}
.btn-bookmark,
.btn-basket,
.btn-checkout {
  float: right;
}
.btn-bookmark:active,
.btn-basket:active,
.btn-checkout:active {
  background-color: #000000;
  opacity: 0.5;
}
.btn-checkout:hover {
  background-color: #518534;
  opacity: 1;
}
.btn-bookmark:hover:before,
.btn-basket:hover:before {
  opacity: 1;
}
.btn-bookmark:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 17px;
  left: 15px;
  top: 15px;
  opacity: 0.2;
  background: url('../img/icon-images.png') no-repeat -34px 0;
}
.btn-basket:before {
  content: "";
  position: absolute;
  left: 15px;
  opacity: 0.2;
  margin-top: 2px;
  width: 17px;
  height: 17px;
  background: url('../img/icon-images.png') no-repeat -47px 0;
}
.btn-checkout {
  padding-left: 0;
  text-align: center;
  background-color: #63a63e;
}
header p {
  line-height: 23px;
  width: 300px;
  color: #ee3643;
  font-style: italic;
  padding: 0 55px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 45px;
}
.head-contacts,
.head-buttons {
  display: inline-block;
  vertical-align: top;
}
.head-contacts {
  margin: 0 10px;
  width: 220px;
  text-align: center;
}
.head-tel {
  padding: 5px 10px 5px 40px;
  font-size: 21px;
  border: 3px solid #ffffff;
  color: #ee3643;
  letter-spacing: 0.2pt;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  position: relative;
}
.head-tel:before {
  content: "";
  position: absolute;
  margin-top: 7px;
  width: 22px;
  height: 17px;
  top: 2px;
  left: 12px;
  background: url('../img/icon-images.png') no-repeat -58px 0;
}
.head-adress {
  display: block;
  color: #293449;
}
.head-buttons {
  width: 300px;
  text-align: right;
  float: right;
}
.login-user-block {
  display: none;
  width: 300px;
  font-size: 21px;
}
.login-user {
  text-align: left;
  padding: 10px 40px;
  background-color: #ffffff;
  position: relative;
}
.login-user:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  width: 18px;
  height: 20px;
  background: url('../img/icon-images.png') no-repeat -115px 0;
}
.login-user-quit:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  width: 18px;
  height: 20px;
  background: url('../img/icon-images.png') no-repeat -96px 0;
  opacity: 0.2;
}
.btn-menu-order {
  position: relative;
  font-size: 16px;
  color: #293449;
  text-decoration: underline;
  float: left;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 8px;
}
.btn-menu-order:hover,
.btn-menu-cabinet:hover {
  color: #ee3643;
}
.btn-menu-order:active,
.btn-menu-cabinet:active {
  color: gray;
}
.btn-menu-cabinet {
  font-size: 16px;
  color: #293449;
  text-decoration: underline;
  float: left;
  margin-left: 20px;
  margin-top: 8px;
}
.btn-menu-order:after {
  content: "";
  position: absolute;
  top: 7px;
  margin: 0 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #293449;
  cursor: none;
}
.login-user-quit:hover:after {
  opacity: 1;
}
.login-user-quit:active:after {
  opacity: 0.2;
}
.btn-registration,
.btn-login {
  background-color: #ffffff;
  margin-left: 10px;
  color: #000000;
  font-size: 21px;
}
.head-buttons .btn-login {
  padding-left: 30px;
}
.btn-login {
  width: 120px;
  padding-right: 20px;
}
.btn-login:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 13px;
  opacity: 0.2;
  width: 17px;
  height: 17px;
  background: url('../img/icon-images.png') no-repeat -80px 0;
}
.btn-login:hover,
.btn-registration:hover {
  color: #ee3643;
}
.btn-login:hover:before {
  color: #293449;
  opacity: 1;
}
.btn-login:active,
.btn-registration:active {
  color: #e5e5e5;
}
.btn-login:active:before {
  opacity: 0.2;
}
.btn-registration {
  float: right;
  padding-left: 25px;
  padding-right: 25px;
}
.nav-bar {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.nav-bar ul li {
  display: inline-block;
  list-style: none;
  font-size: 17px;
  color: #ffffff;
}
.nav-bar li a {
  display: block;
  padding: 20px 30px;
}
.nav-bar li:hover {
  background-color: #293449;
  opacity: 0.9;
}
.nav-bar li:active {
  background-color: #293449;
  opacity: 0.3;
}
.main-promo {
  margin-top: 60px;
}
.main-promo-item {
  display: inline-block;
  width: 300px;
  height: 123px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 8px;
  margin-bottom: 20px;
  position: relative;
}
.main-promo-item p {
  padding: 25px 0 15px 20px;
}
.matherials {
  background-color: #f6b22d;
  margin-left: 0;
}
.matherials:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 45px;
  height: 70px;
  background: url('../img/service-name-image.png') no-repeat 0 0;
}
.instruments:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 75px;
  height: 70px;
  background: url('../img/service-name-image.png') no-repeat -45px 0;
}
.techniks:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 80px;
  height: 70px;
  background: url('../img/service-name-image.png') no-repeat -120px 0;
}
.sale:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 75px;
  background: url('../img/service-name-image.png') no-repeat -200px 0;
}
.main-promo-item.delivery:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 80px;
  height: 75px;
  background: url('../img/service-name-image.png') no-repeat -260px 0;
}
.instruments {
  background: #4aafde;
}
.techniks {
  background: #cc79d1;
  margin-right: 0;
}
.sale {
  float: right;
  margin-bottom: 20px;
  margin-right: 0px;
  background: #85d179;
}
.main-promo-item.delivery {
  float: right;
  background: #f6b22d;
  margin-right: 0px;
}
.btn-item {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 0;
  width: 135px;
  border-radius: 5px;
  margin-left: 20px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
}
.btn-item:hover {
  background: rgba(0, 0, 0, 0.2);
}
.btn-item:active {
  background: rgba(0, 0, 0, 0.3);
}
.new-item:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  background: url('../img/new-icon.png') no-repeat;
}
.btn-red {
  position: absolute;
  bottom: 20px;
  left: 25px;
  display: block;
  padding: 8px 30px;
  background-color: #ee3643;
  border-radius: 5px;
}
.btn-red:hover,
.btn-popular:hover,
.btn-about:hover,
.modal-send-btn:hover,
.modal-cancel-btn:hover {
  background-color: #ca2c37;
}
.btn-red:active,
.btn-popular:active,
.btn-about:active,
.modal-send-btn:active,
.modal-cancel-btn:active {
  background-color: #ba2732;
}
.main-popular-title {
  clear: both;
  font-size: 30px;
  background-color: #f7f3ec;
  padding: 20px 20px;
  color: #32425c;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.main-popular-title p {
  display: inline-block;
}
.btn-popular {
  font-size: 14px;
  float: right;
  display: inline-block;
  color: #ffffff;
  padding: 8px 0;
  text-align: center;
  width: 252px;
  background-color: #ee3643;
  border-radius: 3px;
}
.main-popular-product {
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  vertical-align: top;
  width: 220px;
  margin: 0 8px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.main-popular-product:hover,
.main-brand:hover {
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
}
.main-brand:active {
  opacity: 0.2;
}
.main-popular-product-buy {
  font: 14px/18px 'Cuprum', sans-serif;
  display: none;
  width: 218px;
  height: 200px;
  padding: 45px 0;
  text-align: center;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.main-popular-product:hover .main-popular-product-buy {
  display: block;
}
.btn-product-buy {
  display: inline-block;
  width: 135px;
  padding: 7px 0;
  color: #ffffff;
  background-color: #63a63e;
  margin: 5px;
  border-radius: 3px;
  border-bottom: 4px solid #367315;
}
.btn-product-buy:hover {
  background-color: #5fbb2d;
}
.btn-product-buy:active {
  background-color: #518534;
  border-bottom: 4px solid #518534;
}
.btn-product-bookmark {
  display: inline-block;
  width: 135px;
  padding: 7px 0;
  color: #293449;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 3px;
  border: 2px solid #63a63e;
}
.btn-product-bookmark:hover {
  border-color: #293449;
}
.btn-product-bookmark:active {
  border-color: #e5e5e5;
  color: #e5e5e5;
}
.main-popular-product img {
  padding: 20px 0;
  max-width: 220px;
}
/*Убирает отступ у первого и каждого последующего пятого элемента, если они будут доабвлены*/
.main-popular-product:nth-child(4n+1),
.main-brand:nth-child(4n+1) {
  margin-left: 0;
}
.main-popular-product:nth-child(4n),
.main-brand:nth-child(4n) {
  margin-right: 0;
}
.main-popular-product-name {
  padding: 8px 0;
  font-weight: bold;
}
.main-popular-product-old-price {
  text-decoration: line-through;
  color: #999;
  padding: 8px 0;
}
.main-popular-product-new-price {
  position: relative;
  display: inline-block;
  color: #ffffff;
  height: 40px;
  width: 140px;
  padding: 8px 20px;
  background-color: #ee3643;
  border-radius: 2px;
}
.main-popular-product-new-price:after {
  content: "";
  position: absolute;
  top: 0;
  left: 120px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}
.new-product {
  position: relative;
}
.new-product:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  background: url('../img/new-icon.png') no-repeat;
  z-index: 20;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.main-brand {
  width: 220px;
  height: 145px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  margin: 10px 8px;
}
.brand-bosh {
  background: url('../img/brend-img-1.jpg') no-repeat 50% 50%;
}
.main-services {
  background: #f2f6f8;
  clear: both;
}
.main-services p {
  font: 13px/1.85 'Open Sans', sans-serif, sans-serif;
  width: 450px;
  margin-bottom: 65px;
}
.main-services h3 {
  padding-top: 65px;
  padding-bottom: 35px;
  font-size: 30px;
  text-transform: uppercase;
}
.service-index input {
  display: none;
}
.service-control {
  float: left;
  position: relative;
}
.service-info.delivery {
  background: url("../img/shipping-icon.png") no-repeat 100% 100%;
}
.service-info.garantee {
  background: url("../img/guarantee-icon.png") no-repeat 100% 100%;
}
.service-info.credit {
  background: url("../img/credit-icon.png") no-repeat 100% 100%;
}
.service-control label {
  display: block;
  width: 218px;
  padding: 0 0 0 22px;
  border-top: #405069 solid 1px;
  border-bottom: #293449 solid 1px;
  background: #32425c;
  font: bold 21px/2.81 "Cuprum", sans-serif;
  color: #fff;
  cursor: pointer;
}
.service-control label:hover,
.service-control label:active {
  background: #293449;
}
#delivery:checked ~ .service-control label[for="delivery"],
#garantee:checked ~ .service-control label[for="garantee"],
#credit:checked ~ .service-control label[for="credit"] {
  background: #fff;
  border-color: #fff;
  color: #32425c;
}
.service-info {
  display: none;
  width: 620px;
  height: 285px;
  margin: 0 0 0 80px;
  float: left;
  position: relative;
}
.service-info-title {
  margin: 0 0 30px;
  font: normal 36px/1 'Cuprum', sans-serif, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}
.service-info p {
  width: 350px;
  margin: 0;
}
.service .btn {
  width: 195px;
  float: left;
  margin: 20px 0 0;
}
#delivery:checked ~ .service-info.delivery,
#garantee:checked ~ .service-info.garantee,
#credit:checked ~ .service-info.credit {
  display: block;
}
.about-us-block {
  position: relative;
  padding: 80px 0;
}
.about-us.our-company {
  float: left;
  width: 540px;
}
.about-us.contacts {
  float: right;
  width: 300px;
}
.about-us-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-us p {
  font: 13px/1.85 'Open Sans', sans-serif, sans-serif;
  padding: 10px 0;
}
.about-us btn-about {
  margin-bottom: 40px;
}
.about-us ul {
  font: bold 18px/1.2 'Cuprum', sans-serif, sans-serif;
  list-style: none;
}
.about-us li {
  margin: 0px 0 15px 0px;
}
.about-us li:last-child {
  margin: 0px;
}
.about-us li:before {
  content: "";
  display: inline-block;
  margin: 0 10px 5px 0;
  width: 25px;
  height: 1px;
  background-color: #ee3643;
}
.btn-about {
  color: #ffffff;
  background-color: #ee3643;
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 0;
  border-radius: 3px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.about-us .more {
  width: 220px;
}
.about-us .feedback {
  width: 100%;
}
.clearfix {
  clear: both;
}
.bottom-block {
  background-color: #32425c;
}
.bottom-block-contacts {
  float: left;
  color: #ffffff;
  margin: 20px 0;
}
.bottom-logo {
  float: left;
  width: 220px;
  color: #ffffff;
  font-size: 18px;
}
.bottom-nav {
  padding-top: 20px;
}
.bottom-nav ul {
  float: right;
}
.bottom-nav li {
  display: inline-block;
  padding: 20px 30px;
  color: #ffffff;
}
.bottom-nav a:hover,
footer a:hover {
  text-decoration: underline;
}
.bottom-nav a:active,
footer a:active {
  opacity: 0.5;
}
.second-line-list a {
  color: #f1c77e;
}
.bottom-nav li:last-child {
  padding-right: 0;
}
footer {
  background-color: #293449;
}
footer .copiright {
  float: left;
  width: 230px;
  color: #ffffff;
  padding: 36px 0;
}
footer .social-icons {
  float: left;
  margin-left: 160px;
  margin-top: 35px;
}
.social-icon {
  background-image: url(../img/social-icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 42px;
  height: 42px;
}
.social-icon.vk-icon {
  background-position: -2px 0px;
}
.social-icon.fb-icon {
  background-position: -47px 0px;
}
.social-icon.inst-icon {
  background-position: -92px 0px;
}
.social-icon.vk-icon:hover {
  background-position: -2px -46px;
}
.social-icon.fb-icon:hover {
  background-position: -47px -46px;
}
.social-icon.inst-icon:hover {
  background-position: -92px -46px;
}
footer .feedback,
footer .create {
  float: right;
  width: 140px;
  padding: 36px 0;
}
footer .feedback {
  text-align: left;
}
footer .create {
  text-align: right;
}
.modal-login {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  left: 0;
  right: 0;
  top: 120px;
  width: 300px;
  border-top: 5px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: bold;
}
.remember-password {
  color: #000000;
  text-decoration: underline;
  margin-bottom: 10px;
  opacity: .5;
}
.remember-password:hover {
  opacity: 1;
}
.modal-btn-login {
  font: 14px 'Cuprum', sans-serif;
  display: inline-block;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  width: 240px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.modal-login p {
  padding-top: 10px;
  font-weight: bold;
}
.modal-login input[type="text"],
.modal-login input[type="password"] {
  width: 240px;
  border: 2px solid #D8D7D7;
  border-radius: 3px;
  padding: 5px;
}
.modal-login-close:after {
  content: "X";
  position: absolute;
  top: 5px;
  right: 10px;
  color: #000000;
}
.open {
  display: block;
}
.close {
  display: none;
}
.modal-feedback {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 120px;
  width: 620px;
  border-top: 5px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: bold;
}
.modal-feedback p {
  margin-bottom: 10px;
}
.modal-name-input {
  float: left;
  margin-left: 80px;
  margin-top: 50px;
  color: #000000;
}
.modal-email-input {
  float: right;
  margin-right: 80px;
  margin-top: 50px;
  color: #000000;
}
.modal-name-input input,
.modal-email-input input {
  width: 220px;
  border: 2px solid #D8D7D7;
  border-radius: 3px;
  padding: 5px;
}
.modal-text-input {
  margin-left: 80px;
  padding-top: 15px;
}
.modal-textarea {
  padding: 5px;
  width: 460px;
  height: 120px;
  margin-bottom: 8px;
  border: 2px solid #D8D7D7;
  resize: none;
}
.modal-buttons {
  background-color: #f1f1f1;
  padding: 38px 80px;
  font-size: 14px;
}
.modal-send-btn {
  font: 14px 'Cuprum', sans-serif;
  display: inline-block;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  width: 200px;
  outline: none;
  border: none;
  cursor: pointer;
}
.modal-cancel-btn {
  font: 14px 'Cuprum', sans-serif;
  float: right;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 200px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}
.modal-feedback input::-webkit-input-placeholder,
.modal-feedback textarea::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000000;
  font-size: 14px;
  font-family: 'Cuprum', sans-serif;
  opacity: .3;
}
/*slider*/
.slidewrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  margin: 0;
  padding: 0;
}
.slide {
  width: 621px;
  height: 267px;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.slide h3 {
  color: #ffffff;
  padding: 25px 0 0 25px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}
.slide.first {
  background: url('../img/slide-1.jpg') no-repeat;
}
.slide.second,
.slide.third,
.slide.fourth {
  background: url('../img/slide-2.jpg') no-repeat;
}
.slide p {
  font-size: 18px;
  color: #ffffff;
  padding-left: 25px;
  padding-top: 5px;
}
.main-slides {
  float: left;
  width: 621px;
  height: 267px;
  overflow: hidden;
  position: relative;
}
.prev-slide:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 40%;
  width: 25px;
  height: 34px;
  transform: rotate(23deg) skewY(45deg);
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  background-color: transparent;
}
.next-slide:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 40%;
  width: 25px;
  height: 34px;
  transform: rotate(23deg) skewY(45deg);
  border-right: 3px solid #000000;
  border-top: 3px solid #000000;
  background-color: transparent;
}
.check-slides {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.check-slides label {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
}
#slide-first:checked ~ .check-slides label[for="slide-first"],
#slide-second:checked ~ .check-slides label[for="slide-second"],
#slide-third:checked ~ .check-slides label[for="slide-third"],
#slide-fourth:checked ~ .check-slides label[for="slide-fourth"] {
  background-color: red;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
/*анимация*/
@keyframes animation-open {
  0% {
    transform: translateY(-4000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.open-feedback,
.open-login-form {
  animation: animation-open 0.6s;
}
